In [41]:
import boto3
from botocore.exceptions import ClientError
import json

def get_secret(secret_name):
    region_name = "us-east-1"

    # Create a Secrets Manager client
    session = boto3.session.Session()
    client = session.client(
        service_name='secretsmanager',
        region_name=region_name
    )

    try:
        get_secret_value_response = client.get_secret_value(
            SecretId=secret_name
        )
    except ClientError as e:
        raise e

    secret = get_secret_value_response['SecretString']
    
    return json.loads(secret)

In [42]:
import psycopg2

conn = psycopg2.connect(host=get_secret('postgresql')['host'],
                      user=get_secret('postgresql')['username'],
                      password = get_secret('postgresql')['password'],
                      dbname=get_secret('postgresql')['engine'])

cur = conn.cursor()

In [43]:
sql = """
     select * from population
     where fips = '23'
     """

In [44]:
import pandas as pd

me_df = pd.read_sql(sql, con=conn)
me_df.head() #show the top 5 rows

/tmp/ipykernel_6948/1655376101.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  me_df = pd.read_sql(sql, con=conn)

  fips      pop  year
0   23  1283673  2005
1   23  1321574  2006
2   23  1317207  2007
3   23  1316456  2008
4   23  1318301  2009